*
{
	margin: 0px;
	padding: 0px;
}

.wrapper
{
	margin: 0px auto;
	width: 100%;
	height: auto;
}

.head
{
	height: 85px;
	width: 100%;
	border-bottom: 5px solid #d2d2d2; 
}

.logo,
.link_f,
.link_s,
.out
{
	float: left;
}

.logo
{
	height: 85px;
	width: 85px;
	margin-left: 180px;
	background-image: url(../images/logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.link_i
{
font-size: 16pt;
font-family: "Nunito-SemiBold";
margin-top: 25px;
margin-left: 100px;
color: #000000;
float: left;
text-decoration: none;
}

.link_i:hover
{
text-decoration: underline;
}
.link_f,
.link_s
{
	float: left;
	text-decoration: none;
}

.link_f
{
	font-size: 16pt;
	font-family: "Nunito-SemiBold";
	margin-top: 25px;
	margin-left: 155px;
	color: #000000;
	text-decoration: none;
}

.link_f:hover
{
	text-decoration: underline;
}

.link_s
{
	font-size: 16pt;
	font-family: "Nunito-SemiBold";
	margin-top: 25px;
	margin-left: 60px;
	color: #000000;
	text-decoration: none;
}

.link_s:hover
{
	text-decoration: underline;
}

.out
{
	width: 100px;
	height: 32px;
	background-color: #ff0000;
	border: 5px solid #a60000;
	border-radius: 15px;
	font-family: "Nunito-Bold";
	font-size: 16pt;
	color: #ffffff;
	text-align: center;
	padding-top: 3px;
	margin-left: 250px;
	margin-top: 20px;
}

.out:hover
{
	cursor: pointer;
	background-color: #ff0000;
	border: 5px solid #ff0000;
}

.left_panel
{
	float: left;
}

.left_panel
{
	height: 900px;
	width: 200px;
}

.left_panel_item
{
	height: 60px;
	width: 194px;
	border: 3px solid black;
	background-color: #1cd538;
}
.left_panel > form
{
	width: 300px;
	height: 800px;
	display:block;

}
.left_panel > form > button
{
	width: 300px;
	height: 50px;
	cursor: pointer;
	border-radius: 15px;
	margin-bottom: 25px;
	font-family: "Nunito-Bold";
	font-size: 23px;
    background-color: chartreuse;
	border: 1px solid black;
}
.left_panel > form > button:nth-child(4)
{
	
	font-size: 23px;
}
.left_panel > form > button:hover
{
    background-color: rgba(82, 160, 4, 0.979);
}
.right_body
{
	width: 1000px;
	height: 800px;
	margin-left: 400px;
	
}
.right_body > table
{
	width: 100%;
	margin: auto;
}
.part0
{
	width: 1000px;
	height: 800px;
	display: flex;
}
.part1
{
 	width: 30%;
	height: 100%;
	
}
.part2
{
	width: 70%;
	height: 100%;

}
.part2 > table 
{
	width: 100%;
}
.pag_place
{
	height: 40px;
	width: 100%;
	
}

.pagination
{
	text-align: center;
	font-size: 16pt;
	text-decoration: none;
	color: #ffffff;
	font-family: "Nunito-SemiBold";
	float: left;
}

.pagination > div
{
	height: 35px;
	width: 40px;
	margin-left: 20px;
	margin-top: 20px;
	padding-top: 5px;
	background-color: #4cc33f;
	border: 1px solid #4cc33f; 
	border-radius: 20px;
}

.pagination > div:hover
{
	background-color: #00ff00;
	border: 1px solid #00ff00;
}
.copyright
{
	height: 45px;
	width: 100%-150px;
	margin-top: 90px;
	padding-top: 15px;
	text-align: center;
	background-color: #1cd538;
	font-size: 16pt;
	color: #ffffff;
	font-family: "Nunito-Bold";
}








.form_mitem1
{
  height: 25px;
  width: 185px;
  padding-left: 15px;
  padding-right: 15px;
  border: 3px solid #d5d5d5;
  border-radius: 15px;
  background-color: #d5d5d5;
  font-family: "Nunito-SemiBold";
  outline: none;
  
}

.form_mitem2
{
  height: 25px;
  width: 185px;
  padding-left: 15px;
  padding-right: 15px;
  border: 3px solid #d5d5d5;
  border-radius: 15px;
  background-color: #d5d5d5;
  font-family: "Nunito-SemiBold";
  text-align: center;
  outline: none;
}
.form_mitem3
{
  height: 150px;
  width: 185px;
  padding-left: 15px;
  padding-right: 15px;
  border: 3px solid #d5d5d5;
  border-radius: 15px;
  background-color: #d5d5d5;
  font-family: "Nunito-SemiBold";
  outline: none;
  text-align: center;
}


.exit
{
width: 100px;
height: 40px;
background-color: #ff0000;
border: 4px solid #a60000;
border-radius: 10px;
font-family: "Nunito-Bold";
font-size: 16pt;
color: #ffffff;
text-align: center;
float: left;
margin-left: 275px;
margin-top: 22px;
}
.table
{
	overflow-y: auto;
	max-height: 100%;
}
.exit:hover
{
cursor: pointer;
border: 4px solid #ff0000;
}

#info_dark
{
		background: rgba(102, 102, 102, 0.5);
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: none;
	  position: fixed;
}
#info_dark:target {display: block;}
#info2_dark
{
		background: rgba(102, 102, 102, 0.5);
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: none;
	  position: fixed;
}
#info2_dark:target {display: block;}
.form_window_info
{
	height: 520px;
	width: 400px;
	border: 3px solid black;
	border-radius: 20px;
	margin: 65px auto;
	background-color: white;
}

.close_btn
{
	height: 60px;
	width: 60px;
	background-image: url(../images/close.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 5px;
	margin-left: auto;
}
.form_mname
{
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 18pt;
	font-family: "Nunito-Bold";


}

.form_place
{
	text-align: center;
}
@font-face
{
	src:url(../fonts/Nunito-SemiBold.ttf);
	font-family: "Nunito-SemiBold";
}

@font-face
{
	src:url(../fonts/Nunito-Bold.ttf);
	font-family: "Nunito-Bold";
}