*
{
	margin: 0px;
	padding: 0px;
}

.wrapper
{
	margin: 0px auto;
	width: 100%;
	height: auto;
}

.head
{
	height: 85px;
	width: 100%;
	border-bottom: 5px solid #d2d2d2; 
}

.logo,
.link_f,
.link_s,
.auth
{
	float: left;
}

.logo
{
	height: 85px;
	width: 85px;
	margin-left: 180px;
	background-image: url(../images/logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.link_i
{
font-size: 16pt;
font-family: "Nunito-SemiBold";
margin-top: 25px;
margin-left: 100px;
color: #000000;
float: left;
text-decoration: none;
}

.link_i:hover
{
text-decoration: underline;
}
.link_i,
.link_f,
.link_s
{
	float: left;
	text-decoration: none;
}

.link_f
{
	font-size: 16pt;
	font-family: "Nunito-SemiBold";
	margin-top: 25px;
	margin-left: 155px;
	color: #000000;
	text-decoration: none;
}

.link_f:hover
{
	text-decoration: underline;
}

.link_s
{
	font-size: 16pt;
	font-family: "Nunito-SemiBold";
	margin-top: 25px;
	margin-left: 60px;
	color: #000000;
	text-decoration: none;
}

.link_s:hover
{
	text-decoration: underline;
}
.form_mitem1,
.form_mbtn1
{
	float: left;
}
.form_mitem1
{
font-family: "Nunito-SemiBold";
font-size: 12pt;
outline: none;
margin-left: 15px;
margin-right: 15px;
margin-top: 5px;
}

.form_mbtn1
{
height: 35px;
width: 120px;
font-family: "Nunito-SemiBold";
background-color: #d5d5d5;
border-radius: 5px;
cursor: pointer;
border: 5px solid #cccccc;
text-align: center;
margin-left: 130px;
}

.form_mbtn1:hover
{
border: #d5d5d5;
}
.auth
{
	width: 100px;
	height: 32px;
	background-color: #00ff00;
	border: 5px solid #4cc33f;
	border-radius: 15px;
	font-family: "Nunito-Bold";
	font-size: 16pt;
	color: #ffffff;
	text-align: center;
	padding-top: 3px;
	margin-left: 250px;
	margin-top: 20px;
}

.auth:hover
{
	cursor: pointer;
	background-color: #00ff00;
	border: 5px solid #00ff00;
}

.mess_text
{
	width: 100%-60px;
	font-size: 37pt;
	font-family: "Nunito-Bold";
	margin-left: 60px;
	margin-top: 20px;
}

.mess_p_item
{
	height: 1830px;
	width: 100%;
	
}

.all_messages_filter
{
	height: 40px;
	width: 600px;
	margin-left: 60px;
}

.text_sub
{
	height: 35px;
	width: 185px;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 15px;
	background-color: #dfdfdf;
	font-family: "Nunito-SemiBold";
	font-size: 12pt;
	outline: none;
	margin-bottom: 30px;
}

.select
{
	font-family: "Nunito-SemiBold";
	font-size: 13pt;
	margin-right: 15px;
	outline: none;
	margin-bottom: 30px;
}

.sub_btn
{
	width: 23px;
	height: 23px;
	background-image: url(../images/search.png);
	background-color: #ffffff;
	background-size: 100%;
	margin-left: 5px;
	margin-bottom: 30px;
	border: 0px solid #ffffff;
	outline: none;
}

.sub_btn:hover
{
	cursor: pointer;
}

.mess_item
{
	height: 550px;
	width: 260px;
	margin-left: 60px;
	margin-top: 60px;	
	float: left;
	border: 3px solid black;

}

.mess_item > div:nth-child(1)
{
	width: 260px;
	height: 260px;
}

.mess_item > div:nth-child(2)
{
	width: 260px;
	height: 30px;
	font-family: "Nunito-Bold";
	text-align: center;
	margin-top: 10px;
	font-size: 14pt;
}

.mess_item > div:nth-child(3)
{
	width: 230px;
	height: 70px;
	font-family: "Nunito-SemiBold";
	font-size: 13pt;
	margin-bottom: 10px;
	margin-right: 15px;
	margin-left: 15px;
}

.mess_item > div:nth-child(4)
{
	width: 230px;
	height: 35px;
	font-family: "Nunito-SemiBold";
	font-size: 13pt;
	margin-right: 15px;
	margin-left: 15px;
}

.mess_item > div:nth-child(5)
{
	width: 250px;
	height: 20px;
	font-family: "Nunito-SemiBold";
	text-align: right;
	margin-right: 10px;
	margin-bottom: 5px;
}

.mess_item > div:nth-child(6)
{
	width: 250px;
	height: 20px;
	font-family: "Nunito-SemiBold";
	text-align: right;
	margin-right: 10px;
}

.mess_item > a > div
{
	width: 120px;
	height: 28px;
	background-color: #00ff00;
	border: 3px solid #4cc33f;
	border-radius: 8px;
	font-family: "Nunito-SemiBold";
	text-align: center;
	margin-left: 70px;
	margin-top: 40px;
	padding-top: 2px;
	color: #ffffff;
	text-decoration: none;
	font-size: 14pt;
}

.mess_item > a
{
	text-decoration: none;
	color: #ffffff;
}

.mess_item > a > div:hover
{
	background-color: #00ff00;
	border: 3px solid #00ff00;
	cursor: pointer;
}
.pag_place
{
height: 40px;
width: 100%;
margin-top: 30px;
}

.pagination
{
text-align: center;
font-size: 16pt;
text-decoration: none;
color: #ffffff;
font-family: "Nunito-SemiBold";
float: left;
}

.pagination > div
{
height: 35px;
width: 40px;
margin-left: 20px;
padding-top: 5px;
background-color: #4cc33f;
border: 1px solid #4cc33f;
border-radius: 20px;
}

.pagination > div:hover
{
background-color: #00ff00;
border: 1px solid #00ff00;
}
.copyright
{
	height: 45px;
	width: 100%;
	margin-top: 50px;
	padding-top: 15px;
	text-align: center;
	background-color: #1cd538;
	font-size: 16pt;
	color: #ffffff;
	font-family: "Nunito-Bold";
}

#okno_success
{
	height: 150px;
  width: 400px;
  border: 3px solid black;
  border-radius: 20px;
  margin: 150px auto;
  background-color: white;
        text-align: center;
        padding: 15px;
        position: absolute;
  		  top: 0;
  		  right: 0;
  		  bottom: 0;
  		  left: 0;
  		  margin: auto;
  		  position: fixed;
}
#dark_success
{
	  background: rgba(102, 102, 102, 0.5);
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: none;
	  position: fixed;
}
#dark_success:target {display: block;}


.form_window_auth
{
	height: 350px;
	width: 400px;
	border: 3px solid black;
	border-radius: 20px;
	margin: 150px auto;
	background-color: white;
}

.form_window_reg
{
	height: 520px;
	width: 400px;
	border: 3px solid black;
	border-radius: 20px;
	margin: 65px auto;
	background-color: white;
}

.close_btn
{
	height: 60px;
	width: 60px;
	background-image: url(../images/close.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 5px;
	margin-left: auto;
}

.form_mname
{
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 18pt;
	font-family: "Nunito-Bold";


}

.form_place
{
	text-align: center;
}

.form_mitem
{
	height: 25px;
	width: 185px;
	padding-left: 15px;
	padding-right: 15px;
	border: 3px solid #d5d5d5;
	border-radius: 15px;
	background-color: #d5d5d5;
	font-family: "Nunito-SemiBold";
	margin-bottom: 15px;
	outline: none;
}

.pers_inf
{
	margin-left: 5px;
	font-size: 14px;
	font-family: "Nunito-SemiBold";

}

.form_btn
{
	width: 100px;
	height: 32px;
	background-color: #00ff00;
	border: 3px solid #00ff00;
	border-radius: 15px;
	font-family: "Nunito-SemiBold";
	font-size: 14pt;
	color: #ffffff;
	text-align: center;
}

.form_btn_reg
{
	width: 150px;
	height: 32px;
	margin-top: 10px;
	background-color: #00ff00;
	border: 3px solid #00ff00;
	border-radius: 15px;
	font-family: "Nunito-SemiBold";
	font-size: 14pt;
	color: #ffffff;
	text-align: center;
}

.form_btn:hover
{
	cursor: pointer;
	background-color: #00cc00;
	border: 3px solid #00cc00;
}

.form_btn_reg:hover
{
	cursor: pointer;
	background-color: #00cc00;
	border: 3px solid #00cc00;
}


.form_link
{
	margin-top: 10px;
	text-align: center;
	font-size: 13pt;
	font-family: "Nunito-SemiBold";
}

.form_link > a
{
	text-decoration: none;
	color: #000000;
}

.form_link > a:hover
{
	text-decoration: underline;
}
#auth_dark
{
		background: rgba(102, 102, 102, 0.5);
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: none;
	  position: fixed;
}
#auth_dark:target {display: block;}



#reg_dark
{
		background: rgba(102, 102, 102, 0.5);
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: none;
	  position: fixed;
}
#reg_dark:target {display: block;}

.kab
{
width: 175px;
height: 32px;
background-color: #00ff00;
border: 5px solid #4cc33f;
border-radius: 15px;
font-family: "Nunito-Bold";
font-size: 16pt;
color: #ffffff;
text-align: center;
padding-top: 3px;
float: left;
margin-right: 15px;
margin-left: 100px;
margin-top: 20px;
}

.kab:hover
{
cursor: pointer;
border: 5px solid #00ff00;
}

.exit
{
width: 100px;
height: 40px;
background-color: #ff0000;
border: 4px solid #a60000;
border-radius: 10px;
font-family: "Nunito-Bold";
font-size: 16pt;
color: #ffffff;
text-align: center;
float: left;
margin-top: 22px;
}

.exit:hover
{
cursor: pointer;
border: 4px solid #ff0000;
}



@font-face
{
	src:url(../fonts/Nunito-SemiBold.ttf);
	font-family: "Nunito-SemiBold";
}

@font-face
{
	src:url(../fonts/Nunito-Bold.ttf);
	font-family: "Nunito-Bold";
}